@charset "UTF-8";

#bb {
	width: 500px;
	height: 25px;
	margin: auto;
	position: relative;
	/* border:1px solid black; */
}

#cc {
	width: 90px;
	height: 20px;
	position: relative;
	left: 360px;
	border: 1px solid #eeeeee;
	background: red;
	color: white;
}

#dd {
	position: relative;
	left: 190px;
	/* border:1px solid #eeeeee; */
}

#kk{
	position:relative;
	left:450px;
	width:70px;
	height:25px;
	border:1px solid #eeeeee;
	background:red;
	color:white;
}
#zz{
	position:relative;
	lefth:100px;
	width:80px;
	height:25px;
	border:1px solid #eeeeee;
	background:red;
	color:white;
}