@charset "UTF-8";
html, body {
			margin:0px;
			padding:0px;
		}
		li{
			list-style-type:none;
			
		}
		#container{
			margin:auto;
			position:relative;
			height:2000px;			
		}
		#floor1{
			margin:auto;
			height:150px;
			width:1100px;
			height:150px;
			background:white;
			padding:0px;
		}
		#floor1-1{
			margin:auto;
			height:30px;
			width:1100px;
			padding:0px;
			background:#f2f2f2;			
		}
		#floor1-1-right{			
			float:right;
			margin:0px;
			width:430px;
			height:30px;
		}
		#floor1-1-right li{
			float:left;
			margin-left:8px;
			font-size:12px;
			display:flex;
			align-items:center;
			justify-content:center;
			font-weight:700;			
		}
		#floor1-1-right li:nth-child(1){
			width:70px;
			height:15px;
			border-right:1px solid black;
		}
		#floor1-1-right li:nth-child(2){
			margin-left:2px;
			width:50px;
			height:15px;
			border-right:1px solid black;
		}
		#floor1-1-right li:nth-child(3){
			margin-left:2px;
			width:65px;
			height:15px;
			border-right:1px solid black;
		}
		#floor1-1-right li:nth-child(4){
			margin-left:2px;
			width:65px;
			height:15px;
			border-right:1px solid black;
		}
		#floor1-1-right li:nth-child(5){
			margin-left:2px;
			width:65px;
			height:15px;
			border-right:1px solid black;
		}
		#floor1-1-right li:nth-child(6){
			margin-left:2px;
			width:45px;
			height:15px;
			
		}
		#floor1-2{
			margin:auto;
			height:130px;
			width:1100px;
			background:#f2f2f2;
		}
		#floor1-2-left{
			float:left;
			width:700px;
			height:130px;
			/* border:1px solid black; */
			display:flex;
			align-items:center;	
		}
		.leftitem{
			float:left;
		}
		#headText{
			margin-left:5px;
			font-size:36px;
			font-weight:700;
			cursor:pointer;
		}
		#logo0{color:#550002}
		#logo1{color:#d72f2d}
		#logo2{color:#e99730}
		#logo3{color:#94b940}
		#logo4{color:#4fa6dd}
		#searchSomething{
			margin-left:80px;
		}
		#searchCon{
			width:300px;
			height:30px;
			background:#eeeeee;			
			border-radius:5px;
			border:1px solid gray;
			display:flex;
			align-items:center;
			justify-content:center;
			padding:0px;
		}
		#searchLeft{
			margin-left:5px;
			border:none;
			float:left;
			width:265px;			
			background:#eeeeee;			
		}
		#searchRight{
			margin:0px;
			float:right;
			width:30px;
			height:30px;
			background:gray;
			display:flex;
			align-items:center;
			justify-content:center;
		}
		#floor1-2-right{
			float:right;
			width:130px;
			height:130px;
			/* border:1px solid black; */
			display:flex;
			align-items:center;
			justify-content:center;
		}
		#user{
			width:50px;
			height:50px;
			cursor:pointer;
			/* border:1px solid black; */						
		}
		#userIcon{
			display:flex;
			align-items:center;
			justify-content:center;
		}
		#userText{
			font-size:10px;
			display:flex;
			align-items:center;
			justify-content:center;
		}
		#cart{
			position:relative;
			width:50px;
			height:50px;
			/* border:1px solid black; */
			margin-left:20px;
			cursor:pointer;				
		}
		
		#cartIcon{
			position:relative;
			left:0px;
			top:-18px;
			display:flex;
			align-items:center;
			justify-content:center;
			
		}
		#cartText{
			position:relative;
			top:-18px;
			font-size:10px;
			display:flex;
			align-items:center;
			justify-content:center;
		}
		#cartInform{
			position:relative;
			top:0px;
			left:35px;
			width:18px;
			height:18px;
			border:1px solid #346aff;
			border-radius:50px;
			background:#346aff;
			display:flex;
			justify-content:center;
			align-items:center;
			z-index:10;
			color:white;
		}
		/************************************************************/
		#floor2{
			position:absolute;
			margin:auto;
			width:100%;
			height:50px;		
			background:white;
			z-index:100;
		}
		
		/************************************************************/
		#item1{
			margin:auto;
			width:1100px;
			height:50px;
			background:white;
			padding:0px;
		}
		#box{
			position:relative;
			width:100px;
			height:48px;
			/* border:1px solid black; */
			display:flex;
			align-items:center;
			justify-content:center;
			padding:0px;
		}
		#category{
			position:relative;
			padding:0px;
			width:100px;
			height:48px;
			padding:0px;
			
		}
		
		#xx{
			margin:0px;
			width:100px;
			height:48px;
			display:flex;
			justify-content:center;
			align-items:center;
			margin-botton:0px;
			font-size:16px;
			font-weight:600;
		}
		#firstC{
			position:relative;
			top:0px;
			left:-1px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;		
			padding:0px;
			background:white;
		}
		#ul1{
			position:relative;
			margin-top:15px;
			margin-left:0px;
			padding:0px;
			height:500px;
			width:180px;
			/* border:1px solid #eeeeee; */
		}
		.ul2{
			position:relative;
			margin-top:0px;
			margin-left:0px;
			padding:0px;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
		}
		.li0, .li1, .li2, .li3, .li4, .li5, .li6, .li7, .li8, .li9, .li10, .li11{
			position:relative;
			margin-left:5px;
			margin-top:0px;
			width:175px;
			height:35px;
			/* border:1px solid black; */
		}
		.lili{
			position:relative;
			margin-left:5px;
			width:175px;
			height:35px;
			/* border:1px solid black; */
		}
		#menu0{
			margin-left:0px;
			position:relative;
			top:-37px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;		
			padding:0px;
			background:white;				
		}
		#menu1{
			margin-left:0px;
			position:relative;
			top:-72px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;				
		}
		#menu2{
			margin-left:0px;
			position:relative;
			top:-107px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu3{
			margin-left:0px;
			position:relative;
			top:-142px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu4{
			margin-left:0px;
			position:relative;
			top:-177px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu5{
			margin-left:0px;
			position:relative;
			top:-212px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu6{
			margin-left:0px;
			position:relative;
			top:-247px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu7{
			margin-left:0px;
			position:relative;
			top:-282px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu8{
			margin-left:0px;
			position:relative;
			top:-317px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu9{
			margin-left:0px;
			position:relative;
			top:-352px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu10{
			margin-left:0px;
			position:relative;
			top:-387px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#menu11{
			margin-left:0px;
			position:relative;
			top:-422px;
			left:175px;
			display:none;
			height:500px;
			width:180px;
			border:1px solid #eeeeee;
			padding:0px;
			background:white;						
		}
		#brn{
			width:100px;
		}
		.layer-item{
			float:left;
			height:48px;
			width:200px;
			border:1px solid #eeeeee;
			margin-right:20px;
			display:flex;
			justify-content:center;
			align-items:center;
			font-size:16px;
			font-weight:600;
		}
		#f2-right{
			float:right;
			width:333px;
			height:48px;
			/* border:1px solid black; */
			padding:0px;	
		}
		#f2ul{
			padding:0px;
			margin-left:0px;
			margin-top:0px;
			display:flex;
			justify-content:center;
			align-items:center;
		}
		#f2ul > li:nth-child(1){
			margin-top:13px;
			margin-left:0px;
			width:100px;
			height:24px;
			/* border:1px solid black; */
			border-right:1px solid black;
			display:flex;
			justify-content:center;
			align-items:center;
			font-size:15px;
			font-weight:600;
		}
		#f2ul > li:nth-child(2){
			width:100px;
			height:24px;
			margin-top:13px;
			/* border:1px solid black; */
			border-right:1px solid black;
			display:flex;
			justify-content:center;
			align-items:center;
			font-size:15px;
			font-weight:600;
		}
		#f2ul > li:nth-child(3){
			width:130px;
			height:24px;
			margin-top:13px;
			/* border:1px solid black; */
			font-size:15px;
			font-weight:600;
		}
		#board{
			/* display:hidden; */
			width:140px;
			height:150px;
			border:1px solid #eeeeee;
			padding-left:3px;
			background:white;
			position:relative;
			z-index:1;
			top:16px;
			display:none;
		}
		#board > li{
			font-size:14px;
			margin-top:5px;
		}
		#boardTxt{
			display:flex;
			justify-content:center;
			align-items:center;
		}
		#floor3{
			position:relative;
			top:100px;
			clear:both;
			margin:auto;
			height:600px;
			width:1100px;
		}
		#page-container {
  position: relative;
  min-height:45vh;
  
}

#content-wrap {
  padding-bottom:6rem;    /* Footer height */
}

#footer {
	background:#d9d9d9;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;            /* Footer height */
}
#footer1{
	/* border:1px solid black; */
	margin:auto;
	/* background:white; */
	width:1100px;
	height:6rem;
	display:flex;
	justify-content:center;
	align-items:center;	
}
.footC{
	/* border:1px solid black; */
	margin-left:20px;
	font-weight:600;
	
}